<html>
  <head>
    <title>Smear the Vermeer!</title>

    <link rel="stylesheet" href="/smearthevermeer/assets/css/styles.css" />

  </head>

  <body>
    <div id="cursors">
    </div>

    <canvas id="paper" width="1000" height="900">
    </canvas>

    <div id="image"></div>

  </body>

  <script type="text/javascript">
        window.bgUrl = "<%= background %>"
  </script>

  <script src="/smearthevermeer/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
  <script src="/smearthevermeer/assets/js/script.js"></script>
</html>
